body {
    display: grid;
    grid-template-rows: 30% 70%;
    height: auto;
}

.content {
    display: flex;
    padding: 10px;
    margin: 5px;
    background-color: gray;
}


.main-content {
    flex-direction: column;
}

.content-container {
    background-color: gray;
}

.audio-container {
    display: grid;
    grid-template-columns: 50% 50%;
}

.text-output-container {
    display: flex;
    flex-direction: column;
}

.text-output-box {
    height: 80%;
    background-color: aqua;
    overflow-y: auto;
}